.nav-bar {
  padding: 1rem;
  border-bottom: 1px solid #777;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-brand,
.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-links {
  gap: 1rem;
  list-style: none;
}

.nav-links li a {
  padding: 1rem;
}

.nav-brand img {
  width: 40px;
  margin-right: 0.6rem;
}

.nav-brand h2 {
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.nav-brand:hover > h2 {
  color: var(--second-text-color);
}

#add a {
  color: var(--second-text-color);
}

#add:hover > a {
  background-color: #efefef;
}

#menu {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1.4rem;
  cursor: pointer;
}

.show {
  display: flex !important;
}

@media (max-width: 600px) {
  .nav-wrapper {
    flex-direction: row-reverse;
  }

  .nav-links {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 40px;
    left: -1rem;
    justify-content: flex-start;
    align-items: flex-start;
    z-index: 1000;
    width: 100vw;
    background-color: #fff;
    padding: 10px 0px;
    border-bottom: 1px solid #000;
    display: none;
  }

  .mobile-menu {
    display: flex;
    align-items: center;
  }
}

@media (min-width: 601px) {
  #menu {
    display: none;
  }
}
